<h2><%= @team.name %> Roster</h2>
<ul>
    <% @team.players.order(:number).each do |player| %>
    <li><%= player.number %>. <a href='/players/<%=player.slug%>'><%= player.name %></a> --- <%= player.position %> --- <%= player.country %> --- EDIT</li>
    <br>
    <%end%>
</ul>

<h3><a href='/teams'>View Other Teams</a></h3>
<h3><a href='/logout'>Log Out</a></h3>
<br>
