<h2><%= @team.name %> Roster</h2>
<ul>
    <% @team.players.order(:number).each do |player| %>
    <li><%= player.number %>. <a href='/players/<%=player.slug%>'><%= player.name %></a> --- <%= player.position %> ---
    <%if player.country != nil %>
        <%= player.country.name %>
    <%end%>
    </li>
    <br>
    <%end%>
</ul>


<h3>Add Player to Roster <a href='/players/new'>+</a></h3>
<br>

<h3><a href='/players'>List of Every Player</a></h3>
<h3><a href='/teams'>View Other Teams</a></h3>
<h3><a href='/logout'>Log Out</a></h3>
<br>
