<h2>Players from <%= @country.name %></h2>
<ul>
    <% @country.players.order(:name).each do |player| %>
    <li><a href='/players/<%=player.slug%>'><%= player.name %></a> --- <%= player.position %> --- <%= player.team.name %></li>
    <br>
    <%end%>
</ul>
